proxy=http://EBMLR:Runav%2321@10.86.255.70:8080/
https-proxy=http://EBMLR:Runav%2321@10.86.255.70:8080/
strict-ssl=false
registry=https://registry.npmjs.org/

@monsantoit:registry=https://artifactory.bayer.com/artifactory/api/npm/npm-platforms-engineering/

@element:registry=https://artifactory.bayer.com/artifactory/api/npm/npm-platforms-engineering/

strict-ssl=false

--init-author-name=navya.j.ext@bayer.com

//artifactory.bayer.com/artifactory/api/npm/npm-platforms-engineering/:_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJmWVBGSERCRGFRTmNBLXd0TmxKMTJwdTEtOHBxSWxyZGpyYjVPai1CU0FJIn0.eyJzdWIiOiJqZmFjQDAxZTU0amswcHlmbW5oMXFmZGVxdGYwcDQyL3VzZXJzL3JlYWRvbmx5LWJhcmVfMTk1Iiwic2NwIjoiYXBwbGllZC1wZXJtaXNzaW9ucy9ncm91cHM6UmVhZG9ubHktYnQiLCJhdWQiOiIqQCoiLCJpc3MiOiJqZmFjQDAxZTU0amswcHlmbW5oMXFmZGVxdGYwcDQyIiwiaWF0IjoxNzUwMDU4OTUwLCJqdGkiOiJkMDBlMDkxOS01OTIwLTRmNDItODYyZC1hMzBmYTc1YTE2NWYiLCJ0aWQiOiJyZXBvc2l0b3J5NGJheWVyIn0.Ba3mQm4lLUXuleMAG_zCvjrbS6nkMfVFCkcLxD8tv1ubbF3YjFR5G6KTFR8piT3nRfTEvdSRWIZDiytPOFVExtajUAqXQP2zlPmsZ6Tw-BAttX5h58EzeaCd1i_XGviEM2VYqvB3bX86Fkj4n56KTLHCgPoUIWTu2ql8pxVSa1OCINyc5o6uwKL6rjzDPutkbYHsjkzOAhlWN-F9CzfxBKkPnVaQOFm17aXzAGbk-TCTxIaDdcR_ayETPdEM5tVdRpj7-pJm2Q9SdEUH9ampEVoIP7TVW0BuZUgb6Ptmly2EXVmL6kZNmvYZKSsZcWzHUojUWTh6JiUr4XtSP01bxg

//artifactory.bayer.com/artifactory/api/npm/npm-platforms-engineering/:username=readonly-bare_195

//artifactory.bayer.com/artifactory/api/npm/npm-platforms-engineering/:email=navya.j.ext@bayer.com

//artifactory.bayer.com/artifactory/api/npm/npm-platforms-engineering/:always-auth=true


@bayer-int:registry=https://npm.pkg.github.com

npm.pkg.github.com/:_authToken=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

GITHUB_TOKEN=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
